*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
padding:30px;
}

h1{
text-align:center;
margin-bottom:25px;
}

.search-box{
display:flex;
justify-content:center;
margin-bottom:30px;
}

.search-box input{
width:350px;
padding:10px;
border:none;
border-radius:6px;
}

.movie-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
gap:20px;
}

.movie-card{
cursor:pointer;
transition:0.3s;
}

.movie-card:hover{
transform:scale(1.05);
}

.movie-card img{
width:100%;
height:300px;
object-fit:cover;
border-radius:10px;
}

.movie-card h4{
text-align:center;
margin-top:8px;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
justify-content:center;
align-items:center;
}

.modal-box{
background:#222;
padding:25px;
border-radius:15px;
width:500px;
max-width:90%;
}

.close{
float:right;
cursor:pointer;
color:red;
}
